<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/hs-megamenu/src/hs.megamenu.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/slick-carousel/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/custombox/dist/custombox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/animate.css/animate.min.css' %}">

    <!-- CSS Front Template -->
    <link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
     <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block extra_css %}{% endblock %}
    {% block childExtraCss %}

    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}


<!-- JS Global Compulsory -->
<script src="{% static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
<script src="{% static 'assets/vendor/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/bootstrap.min.js' %}"></script>

<!-- JS Implementing Plugins -->
<script src="{% static 'assets/vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
<script src="{% static 'assets/vendor/svg-injector/dist/svg-injector.min.js' %}"></script>
<script src="{% static 'assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>
<script src="{% static 'assets/vendor/slick-carousel/slick/slick.js' %}"></script>
<script src="{% static 'assets/vendor/custombox/dist/custombox.min.js' %}"></script>
<script src="{% static 'assets/vendor/custombox/dist/custombox.legacy.min.js' %}"></script>

<!-- JS Front -->
<script src="{% static 'assets/js/hs.core.js' %}"></script>
<script src="{% static 'assets/js/components/hs.header.js' %}"></script>
<script src="{% static 'assets/js/components/hs.unfold.js' %}"></script>
<script src="{% static 'assets/js/components/hs.focus-state.js' %}"></script>
<script src="{% static 'assets/js/components/hs.malihu-scrollbar.js' %}"></script>
<script src="{% static 'assets/js/components/hs.validation.js' %}"></script>
<script src="{% static 'assets/js/components/hs.show-animation.js' %}"></script>
<script src="{% static 'assets/js/components/hs.slick-carousel.js' %}"></script>
<script src="{% static 'assets/js/components/hs.modal-window.js' %}"></script>
<script src="{% static 'assets/js/components/hs.svg-injector.js' %}"></script>
<script src="{% static 'assets/js/components/hs.go-to.js' %}"></script>

{% block extra_js %}{% endblock %}
{% block extraChildJs %}{% endblock %}


</body>
</html>