{% load staticfiles %}

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="active" style="background-color: #404040;">
        <ul class="list-unstyled components">
             <li class="active">
                <a href="/dashboard/"><span class="fas fa-chart-line" style="color: white; font-size: 32px;"></span> Dashbard</a>
            </li>
            <li>
                <a href="/hardware/"><span class="fa fa-laptop" style="color: white; font-size: 32px;"></span> Hardware</a>
            </li>
            <li>
                <a href="/software/"><span class="fas fa-compact-disc" style="color: white; font-size: 32px;"></span> Software</a>
            </li>
            <li>
                <a href="/location/"><span class="fas fa-map-marker-alt" style="color: white; font-size: 32px;"></span> Location</a>
            </li>
            <li>
                <a href="/report/"><span class="far fa-file-alt" style="color: white; font-size: 32px;"></span> Reports</a>
            </li>
            <li>
                <a href="/members/"><span class="fas fa-user-friends" style="color: white; font-size: 32px;"></span> Member</a>
            </li>
        </ul>
{#        <div style="padding: 2px;"></div>#}
    </nav>

    <!-- Page Content  -->
</div>



